@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  align-items: center;
  color: #FFF;
  background: linear-gradient(to right, rgb(83, 105, 118), rgb(41, 46, 73));
  display: flex;
  justify-content: center;
  height: 100vh;
  text-align: center;
}